body{
  display: grid;
  grid-area: "menus body";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;

}
img{
  width: 400px;
  height: 350px;
}
.contenus{
  grid-area: body;
}
.menusBody{
  grid-area: menus;
}
.wrapper{
  display: grid;
  grid-template-areas: 
  "img titre"
  "intro intro";
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 150px;
  grid-row-gap: 10px;
  justify-items: center;
}
.Image{
  grid-area: img;
  border-radius: 15px 15px 15px 15px;
}
.Titre{
  grid-area: titre;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}
#intro{
  grid-area: intro;
  text-align: center;
  font-size: medium;
}
.Titre > h5 {
  font-size: 60px;
  text-align: center;
}
.Titre > h4 {
  font-size: x-large;
  text-align: center;
}
.info {
  display: flex;
  margin: 10px;
  width: 100%;
}
.info > h2{
  margin-right: 5px;
  justify-self: center;
}
#t{
  font-size: x-large;
  text-align: center;
}
.projet{
  display: grid;
  grid-template-areas: "p1 p2";
  width: 75%;
  justify-content: center;
  grid-template-columns: 400px 400px;
  column-gap: 10px;
  position: relative;
}
.projet :first-child{
  grid-area: p1;
  width: 400px;
}
.projet :last-child{
  grid-area: p2;
  width: 400px;
}

.Projets{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Projets > h4{
  font-size: x-large;
}
img{
  width: 250px;
  height: 250px;
}
#s1{
  position: absolute;
  z-index: 1;
  background-color: white;
  color: black;
  width: fit-content;
  left: 5px;
  top: 15px;
}
#s2{
  position: absolute;
  z-index: 1;
  color: black;
  background-color: white;
  width: fit-content;
  left: 415px;
  top: 15px;
}
@media only screen and (max-width: 600px){
  body{
    grid-template-columns: 100px;
  }
}
@media only screen and (max-width: 1080px){
  .wrapper{
    display: grid;
    grid-template-areas: 
    "img"
    "titre"
    "intro";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .projet{
    display: grid;
    grid-template-areas: 
    "p1"
    "p2";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #s2{
    position: absolute;
    z-index: 1;
    color: black;
    background-color: white;
    width: fit-content;
    left: 5px;
    top: 260px;
  }
}
